@import "~components/UIElements/sass/variables";
@import "~components/UIElements/sass/mixins/typography";

.container{
  display: flex;
  flex: 1;
  padding: 32px;
  height: "100%";
  width: "100%";
  background-color: white;
  flex-direction: column;
}

.searchbar{
  padding: 32px;
  height: "100%";
  width: "100%";
}